.w {
    width: 1200px;
    margin: auto;
}
.header {
    height: 50px;
    border-bottom: 2px solid rgb(10, 104, 182);
    margin-bottom: 10px;
}
.logo h2 {
    line-height: 50px;
    font-size: 30px;
    color: rgb(10, 104, 182);
    text-align: center;
    box-shadow: 0px 10px 15px #077099;
}
.registerarea {
    margin-top: 20px;
    height: 520px;
    border: 1px solid #ccc;
}
.reg {
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    line-height: 40px;
    padding: 0 15px;
    background-color: rgb(34, 141, 228);
    border-bottom: 1px solid rgb(10, 104, 182);
    font-weight: 400;
    color: #fff;
}
.registerarea em {
    font-size: 14px ;
    float: right;
}
.registerarea a {
    color: rgb(216, 16, 39);
}
.reg_form {
    width: 600px;
    height: 420px;
    margin: 40px auto 0;
}
.reg_form label {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}
.inp {
    width: 238px;
    height: 34px;
    border: 1px solid #ccc;
}

.reg_form li {
    padding: 15px 0;
}
.success {
    color: green;
}
.error{
    color: red;
}
.error_ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.jpg) no-repeat;
    vertical-align: middle;
    background-size: cover;
    margin-top: -2px;
}
.success_ico {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/success.jpg) no-repeat;
    vertical-align: middle;
    background-size: cover;
    margin-top: -2px;
}
.safe {
    padding-top:0 ;
    padding-left: 250px;
}
.ruo {
    background-color:#de1111;
    color:#fff;
}
.zhong {
    background-color: #40b83f;
    color: #fff;
}
.qiang {
    background-color: #f79100;
    color: #fff;
}
.reg_form .agree {
    padding-left: 120px;
}
.reg_form .agree input{
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
}
.reg_form .agree a {
    color: rgb(18, 164, 221);
}

.over {
    background-color: #de1111;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    margin: 0 0 0 175px;
}
.mod_copyright{
    text-align: center;
}
.mod_link{
    text-align: center;
    margin: 20px 0px 15px 0;
}
